body {
    background-image: url("../images/DSC03498.jpg");
    background-size: cover;
}

#front-page {
    background-image: url("../images/DSC03498.jpg");
    background-size: cover;
    font-family: 'B612 Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vh;
    font-weight: bold;
    text-align: center;
}

#prof-pic {
    border-radius: 50%;
}

#bio {
    font-family: 'Roboto', sans-serif;
}

#contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#icon-links, #box-links  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    font-size: 1.5em;
}

.icon, .btn-link {
    margin: 0 10px;
}

.btn-link, #home-btn {
    font-family: 'B612 Mono', monospace;
    background-color: #4286f4;
    color: white;
    border-radius: 5px;
}

.btn-link:hover, #home-btn:hover {
    background-color: #1d54ad;
    color: white;
}

#home-btn {
    margin: 20px
}

#portfolio-page {
    background-image: url("../images/backdrop-72250_1280.jpg");
    box-sizing: border-box;
}

#portfolio-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#portfolio-title {
    font-family: 'B612 Mono', monospace;
    color: white;
    background-color: #4286f4;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.card {
    border: solid 5px white;
    margin: 10px;
}

.app-pictures {
    border: solid thin black;
}

.card-body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}